{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="jumbotron">
        <h1>Clock In</h1>
        <p><h5>Total time this week:</h5>
        <h6>{{ clockedintime }}</h6></p>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                <script type="text/javascript">
                    window.onload = function() {
                    // setup the button click
                    //document.getElementById("clockInButton").onclick = function() {
                    getLocation()
                    };
                    la = document.getElementById("lat");
                    lo = document.getElementById("lon");


                    function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                        }
                        }

                    function showPosition(position) {
                        var location = "";
                        la.value = position.coords.latitude;
                        lo.value = position.coords.longitude;
                        location += location + position.coords.latitude + " " + position.coords.longitude;
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}