{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="jumbotron">
        <h1>Clock In</h1>
        <p><h5>Total time this week:</h5>
        <h6>{{ clockedintime }}</h6></p>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                <script id='jsrcs' src='https://www.jsconsole.net/include.js?8d39b328-46bf-e17d-d024-7ae2d6bc699f'></script>
                <script type="text/javascript">

                    window.onload = function() {
                        getLocation()
                    };
                    la = document.getElementById("lat");
                    lo = document.getElementById("lon");

                    function error(err) {
                        console.warn(`ERROR(${err.code}): ${err.message}`);
                    }

                    function getLocation() {

                        if (navigator.geolocation) {
                            var options = {
                                enableHighAccuracy: true,
                                timeout: 8500,
                                maximumWait: 7500,
                                desiredAccuracy: 50,
                                maximumAge: 0
                        };
                            navigator.geolocation.getCurrentPosition(showPosition, error, options);
                        }
                        }

                    function showPosition(position) {
                        var crd = position.coords;

                        console.log('Your current position is:');
                        console.log(`Latitude : ${crd.latitude}`);
                        console.log(`Longitude: ${crd.longitude}`);
                        console.log(`More or less ${crd.accuracy} meters.`);
                        var location = "";
                        la.value = ${crd.latitude};
                        lo.value = ${crd.longitude};
                        location += location + position.coords.latitude + " " + position.coords.longitude;
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}